*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: center;
}
.toolbox-cont{
    height: 5rem;
    display: flex;
    align-items: center;
    position:fixed;
    width: 100vw;
    justify-content: space-evenly;
    top:0px;
}

.toolbox-priority-cont{
    height: 3rem;
    background-color: #E0FFFF;
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 1rem;
}

.action-btn-cont{
    background-color: #E0FFFF;
    height: 3rem;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 2rem;
}

.color{
    height: 1.5rem;
    width: 3.3rem;
    border-radius: 0.2rem;
}

.green{
    background-color:#ADFF2F;
}

.blue{
    background-color:#000080;
}

.pink{
    background-color:#DC143C;
}
.gold{
    background-color:#DAA520;
}

.add-btn{
    font-size: 1.5rem;
}

.remove-btn{
    font-size: 1.5rem;
}

.modal-cont{
    position: absolute;
    left: 25vw;
    top:25vh;
    background-color: #8b9b8a;
    height: 50vh;
    width: 50vw;
    display: none;
    border-radius: 1.5rem;
}

.textarea-cont{
    outline:none;
    resize: none;
    border: none;
    background-color:#ffffff;
    height: 100%;
    width: 75%;
    font-size: 2rem;
    padding: 2rem;
    border-right: 2px solid #141E27;
    border-radius: 1.2rem;
}

.priority-color-cont{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.priority-color{
    height: 3rem;
    width: 5rem;
    border-radius: 1.2rem;
}

.active{
    border: 3px solid #ffffff;
}

.main-cont{
    margin-top: 7rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem; 
    margin-bottom: 2rem;
}

.ticket-cont{
    background-color: #EEEDDE;
    height: 10rem;
    width: 16rem;
    border-radius: 1rem;
}

.ticket-color{
    height: 1rem;
}

.ticket-id{
    height: 1.5rem;
    background-color: #EEEDDE;
    font-weight: 600;
    font-size: .9rem;
    color: #141E27;
    margin-left: 11.2rem;
    margin-top: 0.3rem;
}

.task-area{
    height: 5rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    font-size: 1.25rem;
    overflow: auto;
    outline: none;
    word-break: break-all;
}

.lock-unlock{
    font-size: 1.5rem;
    margin-left: 14.5rem;
}